.tweets-container {
  width: 30vw;
  max-height: 47vw;
  overflow-y: scroll;
  margin-left: 1.6vw;
  margin-right: 4em;
  margin-top: 1em;
  padding-right: 1em;
}

::-webkit-scrollbar {
  width: 0.7em;
  margin-left: 1em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.7em rgba(0, 0, 0, 0.15);
  border-radius: 5em;
}

::-webkit-scrollbar-thumb {
  border-radius: 5em;
  -webkit-box-shadow: inset 0 0 0.7em rgba(0, 0, 0, 0.15);
}

.social-media-logo {
  height: 3em;
  width: 3em;
}

.social-media-links-container {
  display: flex;
  justify-content: space-around;
  margin-left: 13em;
  margin-right: 13em;
  margin-top: 4em;
}

.social-media-logo:hover {
  border-radius: 100%;
  box-shadow: 0 0 0 0.2em #ff6a8e;
  background-color: #ff6a8e;
  cursor: pointer;
  transition: ease-in-out 250ms;
}
